#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    box-sizing: border-box;
}

#product-card{
    border: 1px solid black;
    border-radius: 8px;
    margin: 0.5em;
}
