#item-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    padding-right: 0.5em;
    padding-left: 0.5em;
}


#item-card #product-info{
    display: flex;
    flex-direction: row;

}

#price {
    padding-left: 2em;
}

#quantity-input{
    max-width: 50px;
}

@media (max-width: 768px){
    #item-card{
        flex-direction: column;

    }

    #item-card #product-info{
        flex-direction: column;

    }

    #price{
        padding-left: 0;
    }
}


