#item-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
}

#item-card #product-info{
    display: flex;
    flex-direction: row;

}

h2 {
    margin: 0.5em;
}

#remove-btn{

}

