#product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 350px;
    min-height: 320px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    background-color: #fff;
    box-sizing: border-box;
}

#quantity-input{
    max-width: 50px;
}
