body {
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;

}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    width: 100%;
}

.productContainer {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    max-width: 400px;
    display: flex;
    gap: 1rem;
}